
@page "/"
@using AntDesign
@using GameManagement.SpecialComponent
<PageHeader Class="site-page-header" Title="Design by HieuHoo">
    <PageHeaderExtra>
    </PageHeaderExtra>
</PageHeader>
<AntDesign.Col Span="24">
    <div class="site-layout-content"></div>
</AntDesign.Col>






